<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Expresso Voluntário - Início</title>

        <!-- CSS IMPORTS -->
            <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
            <link rel="stylesheet" href="bower_components/pure/grids-min.css">
            <link rel="stylesheet" href="bower_components/pure/grids-responsive-min.css">
            <link rel="stylesheet" href="app/assets-generated/css/main.css">
        <!-- END CSS IMPORTS -->
    </head>
    <body ng-app="MyApp">
        <!-- HEADER -->
        <header class="expresso-header__wrapper pure-g">
            <div class="expresso-container">
                <div class="expresso-header">
                    <div class="pure-u-1-2 expresso-header__logo">
                        <h1><a ui-sref="home">Expresso Voluntário</a></h1>
                    </div>
                    <div class="pure-u-1-2 expresso-header__menu">
                        <nav>
                            <ul class="expresso-header__menu">
                                <li ng-if="false" class="expresso-header__menu-item"><a ui-sref="signup">Cadastre-se</a></li>
                                <li ng-if="false" class="expresso-header__menu-item"><a href="login">Entrar</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER -->

        <!-- CONTENT -->
        <main class="expresso-content__wrapper">
            <div ui-view style="height: 100%;"></div>
        </main>
        <!-- END CONTENT -->

        <!-- FOOTER -->
        <footer class="expresso-footer__wrapper" ng-if="false">
            <div class="expresso-container is-vertical-spacing">
                RODAPÉ
            </div>
        </footer>
        <!-- END FOOTER -->

        <!-- JAVASCRIPT IMPORTS -->
            <script src="bower_components/angular/angular.js"></script>
            <script src="bower_components/angular-aria/angular-aria.js"></script>
            <script src="bower_components/angular-animate/angular-animate.js"></script>
            <script src="bower_components/angular-resource/angular-resource.js"></script>
            <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
            <script src="bower_components/angular-material/angular-material.js"></script>
            <script src="app/assets-generated/js/scripts.js"></script>
        <!-- END JAVASCRIPT IMPORTS -->
    </body>
</html>
