.page-home {
    height: 100%;

    .page-home__tasks,
    .page-home__cover {
        min-height: 600px;
    }

    .page-home__cover {
        background-color: $PRIMARY_COLOR;
    }

    .page-home__tasks {
        background-color: #fff;
    }

    .page-home__video-side,
    .page-home__description-side {
        padding-top: $SPACING_6;
    }

    .page-home__video-side {
        padding-right: $SPACING_3;
    }

    .page-home__description-side {
        padding-left: $SPACING_3;
    }

    .page-home__description-wrapper {
        margin-bottom: $SPACING_6;
    }

    .page-home__description-title {
        margin-bottom: $SPACING_1;
        font-size: 20px;
        font-weight: bold;
        color: $ACCENT_COLOR;
    }

    .page-home__description-paragraph {
        margin-bottom: $SPACING_1;
        color: $PRIMARY_COLOR_TEXT;
        line-height: 1.5;
    }

    .page-home__form-wrapper {
        padding: $SPACING_2;
        max-width: 700px;
        border: 1px solid $DIVIDER_COLOR;
        background-color: #fff;
        @include border-radius(3px);
        @include m-box-shadow(1);
    }

    .page-home__form-title {
        margin-top: $SPACING_3;
        margin-bottom: $SPACING_1;
        color: $PRIMARY_TEXT_COLOR;
        font-size: 24px;
    }


    .label-control {
        display: block;
    }

    input[type="text"] {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
    }

    .label-control {
        display: block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
}
