.page-home {
    height: 100%;

    .page-home__tasks,
    .page-home__cover {
        min-height: 600px;
    }

    .page-home__cover {
        // @refactoring: as 2 propriedades abaixo são temporárias
        background-color: #fff;
        color: white;
    }

    .page-home__tasks {
        // @refactoring: as 2 propriedades abaixo são temporárias
        background-color: #B6B6B6;
        color: white;
    }
}
