<section class="u-padding-top-2 u-padding-bottom-2" ng-controller="HomeCtrl as controller">
    <div class="expresso-container">
        <div class="expresso-container-smaller">

            <!-- CONTATO -->
            <section class="ong-profile__contact-wrapper pure-g">
                <!-- <div class="ong-profile__logo pure-u-1-5" ng-if="false">
                    <i class="material-icons md-48">photo_camera</i>
                </div> -->

                <!-- MODO VISUALIZAÇÃO  -->
                <div class="ong-profile__contact pure-u-5-5" ng-if="!controller.isContactEditing">
                    <md-button
                        md-no-ink
                        ng-click="controller.editContactInfo()"
                        class="md-primary u-float-right u-no-margin">
                            <md-icon md-svg-icon="bower_components/material-design-icons/editor/svg/production/ic_mode_edit_24px.svg"></md-icon>
                            Editar
                    </md-button>

                    <article class="ong-profile__contact-name">
                        <i class=""></i>
                        <!-- Nome da Instituição -->
                        {{ controller.getName() }}

                    </article>

                    <article class="ong-profile__contact-info">
                        <div class="ong-profile__contact-info-icon">
                            <i class="material-icons">location_on</i>
                        </div>
                        <div class="ong-profile__contact-info-text">
                            {{ controller.getAddress()}}
                        </div>
                    </article>

                    <article class="ong-profile__contact-info">
                        <div class="ong-profile__contact-info-icon">
                            <i class="material-icons">phone</i>
                        </div>
                        <div class="ong-profile__contact-info-text">
                            {{ controller.getPhones() }}
                        </div>
                    </article>

                    <article class="ong-profile__contact-info">
                        <div class="ong-profile__contact-info-icon">
                            <i class="material-icons">email</i>
                        </div>
                        <div class="ong-profile__contact-info-text">
                            {{ controller.getEmail() }}
                        </div>
                    </article>
                </div>

                <!-- MODO EDIÇÃO  -->
                <div class="ong-profile__contact pure-u-5-5" ng-if="controller.isContactEditing">
                    <md-button
                        md-no-ink
                        ng-click="controller.saveContactInfo()"
                        class="md-primary u-float-right u-no-margin">
                            <md-icon md-svg-icon="bower_components/material-design-icons/editor/svg/production/ic_mode_edit_24px.svg"></md-icon>
                            Salvar
                    </md-button>

                    <h1 class="ong-profile__contact-name">
                        Dados de contato
                    </h1>
                    <md-input-container class="md-block">
                        <label>Nome da instituição</label>
                        <md-icon md-svg-src="bower_components/material-design-icons/social/svg/production/ic_location_city_24px.svg" class="md-icon"></md-icon>
                        <input type="text" name="name" ng-model="controller.ong.name">
                    </md-input-container>
                    <md-input-container>
                        <label>CEP (Sem traço)</label>
                        <md-icon md-svg-src="bower_components/material-design-icons/communication/svg/production/ic_location_on_24px.svg" class="md-icon"></md-icon>
                        <input
                            type="text"
                            name="cep"
                            ng-blur="controller.loadAddressViaCEP(controller.ong.address.cep)"
                            ng-model="controller.ong.address.cep">
                    </md-input-container>
                    <md-input-container>
                        <label>Número</label>
                        <md-icon class="md-icon"></md-icon>
                        <input type="text" name="addressNumber" ng-model="controller.ong.addressNumber">
                    </md-input-container>
                    <md-input-container>
                        <label>Logradouro</label>
                        <md-icon class="md-icon"></md-icon>
                        <input type="text" name="logradouro" ng-model="controller.ong.address.logradouro" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Bairro</label>
                        <md-icon class="md-icon"></md-icon>
                        <input type="text" name="bairro" ng-model="controller.ong.address.bairro" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Localidade</label>
                        <md-icon class="md-icon"></md-icon>
                        <input type="text" name="localidade" ng-model="controller.ong.address.localidade" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>UF</label>
                        <md-icon class="md-icon"></md-icon>
                        <input type="text" name="uf" ng-model="controller.ong.address.uf" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Telefone 1</label>
                        <md-icon md-svg-src="bower_components/material-design-icons/communication/svg/production/ic_phone_24px.svg" class="md-icon"></md-icon>
                        <input type="text" name="phone1" ng-model="controller.ong.phone1">
                    </md-input-container>
                    <md-input-container>
                        <label>Telefone 2</label>
                        <md-icon class="md-icon"></md-icon>
                        <input type="text" name="phone2" ng-model="controller.ong.phone2">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>E-mail</label>
                        <md-icon md-svg-src="bower_components/material-design-icons/communication/svg/production/ic_email_24px.svg" class="md-icon"></md-icon>
                        <input type="email" name="email" ng-model="controller.ong.email">
                    </md-input-container>
                </div>
            </section>
            <!-- FIM CONTATO -->

            <!-- TAREFAS -->
            <section class="ong-profile__main">
                <div class="ong-profile__main-tabs">
                    <div ui-sref="home.tasksList"
                         ng-class="{'is-active' : controller.isCurrentTab('tasks')}"
                         class="ong-profile__main-tab">
                         Tarefas
                    </div>
                    <div ui-sref="home.about"
                         ng-class="{'is-active' : controller.isCurrentTab('about')}"
                         class="ong-profile__main-tab">
                         Sobre a instituição
                    </div>
                </div>

                <div class="ong-profile__main-body">
                    <div ui-view></div>
                </div>
            </section>
            <!-- FIM TAREFAS -->
        </div>
    </div>

</section>
