.expresso-header__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $EXPRESSO_HEADER_HEIGHT;
    background-color: $COLOR_EXPRESSO_HEADER;
    z-index: $LEVEL_EXPRESSO_HEADER;
    @include m-box-shadow(1);
}

.expresso-header {
    color: #fff;
}

.expresso-header__logo {
    font-size: 20px;
    font-weight: bold;
    line-height: $EXPRESSO_HEADER_HEIGHT;

    a { color: #fff; }
}
