<div ng-controller="SearchCtrl as controller">
    <div class="expresso-container u-padding-top-4">
        <div class="expresso-container-smaller">
            <section class="ong-profile__main">
                <div class="ong-profile__main-tabs">
                    <div ng-click="controller.setCurrentTab('tasks')"
                         ng-class="{'is-active' : controller.isCurrentTab('tasks')}"
                         class="ong-profile__main-tab is-active">
                         Tarefas
                    </div>
                    <div ng-click="controller.setCurrentTab('ongs')"
                         ng-class="{'is-active' : controller.isCurrentTab('ongs')}"
                         class="ong-profile__main-tab">
                         Instituições
                    </div>
                </div>

                <div class="ong-profile__main-body">

                    <!-- PESQUISAR TAREFAS -->
                    <div ng-show="controller.isCurrentTab('tasks')">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Pesquisar por título">

                                <div class="ong-profile__main-toolbar">
                                    <div class="u-padding-2 u-no-padding-bottom u-text-align-center">
                                        <md-input-container class="md-block">
                                            <label>Pesquisar por título da tarefa</label>
                                            <input
                                                ng-model="controller.searchTask.title"
                                                ng-enter="controller.getTaskByTitleAndLocation()"
                                                type="text">
                                        </md-input-container>
                                    </div>

                                    <div class="u-padding-2 u-no-padding-top u-no-padding-bottom">
                                        <md-input-container class="md-block">
                                            <label>Filtrar por cidade:</label>
                                            <md-select
                                                ng-model="controller.searchTask.location"
                                                md-on-close="controller.getTaskByTitleAndLocation()">
                                                    <md-option ng-repeat="city in controller.cities" value="{{ city }}">
                                                        {{ city }}
                                                    </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>

                                    <div class="u-text-align-center">
                                        <md-button
                                            ng-click="controller.getTaskByTitleAndLocation()"
                                            class="md-raised md-primary">
                                            <md-icon md-svg-icon="bower_components/material-design-icons/editor/svg/production/ic_mode_edit_24px.svg"></md-icon>
                                            Pesquisar
                                        </md-button>
                                    </div>
                                </div>
                            </md-tab>

                            <md-tab label="Pesquisar por habilidade">
                                <div class="ong-profile__main-toolbar">
                                    <div class="u-padding-2 u-no-padding-bottom u-text-align-center">
                                        <md-input-container class="md-block">
                                            <label>Pesquisar por habilidade</label>
                                            <input
                                                ng-model="controller.searchTask.tag"
                                                ng-enter="controller.getTaskByTagAndLocation()"
                                                type="text">
                                        </md-input-container>
                                    </div>

                                    <div class="u-padding-2 u-no-padding-top u-no-padding-bottom">
                                        <md-input-container class="md-block">
                                            <label>Filtrar por cidade:</label>
                                            <md-select
                                                ng-model="controller.searchTask.location"
                                                md-on-close="controller.getTaskByTagAndLocation()">
                                                    <md-option ng-repeat="city in controller.cities">
                                                        {{ city }}
                                                    </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>

                                    <div class="u-text-align-center">
                                        <md-button
                                            ng-click="controller.getTaskByTagAndLocation()"
                                            class="md-raised md-primary">
                                            <md-icon md-svg-icon="bower_components/material-design-icons/editor/svg/production/ic_mode_edit_24px.svg"></md-icon>
                                            Pesquisar
                                        </md-button>
                                    </div>
                                </div>
                            </md-tab>
                        </md-tabs>

                        <!-- RESULTADOS DA BUSCA POR TAREFAS -->
                        <ul>
                            <!-- ui-sref="home.taskDetail({id : task.id})" -->
                            <li
                                ng-repeat="task in controller.result track by $index"
                                class="ong-profile__task">
                                    <div class="ong-profile__task-title">
                                        {{ task.title }}
                                    </div>
                                    <div class="ong-profile__task-status">
                                        <div class="badge-status">{{ task.status }}</div>
                                    </div>
                            </li>
                            <li ng-show="controller.isResultEmpty(controller.result) && !controller.isFirstQuery"
                                class="u-margin-top-5 u-margin-bottom-5 u-text-align-center">
                                Nenhum resultado encontrado para esta busca.
                            </li>
                            <li ng-show="controller.isResultEmpty(controller.result) && controller.isFirstQuery"
                                class="u-margin-top-5 u-margin-bottom-5 u-text-align-center">
                                Faça uma busca preenchendo os campos acima (=
                            </li>
                        </ul>
                        <!-- FIM RESULTADOS DA BUSCA POR TAREFAS  -->
                    </div>

                    <!-- PESQUISAR ONGS -->
                    <div ng-show="controller.isCurrentTab('ongs')">
                        <div class="ong-profile__main-toolbar">
                            <div class="u-padding-2 u-no-padding-bottom u-text-align-center">
                                <md-input-container class="md-block">
                                    <label>Pesquisar por nome</label>
                                    <input
                                        ng-model="controller.searchOng.name"
                                        ng-enter="controller.getOngsByNameAndLocation()"
                                        type="text">
                                </md-input-container>
                            </div>

                            <div class="u-padding-2 u-no-padding-top u-no-padding-bottom">
                                <md-input-container class="md-block">
                                    <label>Filtrar por cidade:</label>
                                    <md-select
                                        ng-model="controller.searchOng.location"
                                        md-on-close="controller.getOngsByNameAndLocation()">
                                            <md-option ng-repeat="city in controller.cities">
                                                {{ city }}
                                            </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div class="u-text-align-center">
                                <md-button
                                    ng-click="controller.getOngsByNameAndLocation()"
                                    class="md-raised md-primary">
                                    <md-icon md-svg-icon="bower_components/material-design-icons/editor/svg/production/ic_mode_edit_24px.svg"></md-icon>
                                    Pesquisar
                                </md-button>
                            </div>
                        </div>

                        <!-- RESULTADOS DA BUSCA POR ONGS -->
                        <ul>
                            <li
                                ng-repeat="ong in controller.resultOngs track by $index"
                                class="ong-profile__task">
                                    <div class="ong-profile__task-title">
                                        {{ ong.name }}
                                    </div>
                            </li>
                            <li ng-show="controller.isResultEmpty(controller.resultOngs) && !controller.isFirstQuery"
                                class="u-margin-top-5 u-margin-bottom-5 u-text-align-center">
                                Nenhum resultado encontrado para esta busca.
                            </li>
                            <li ng-show="controller.isResultEmpty(controller.resultOngs) && controller.isFirstQuery"
                                class="u-margin-top-5 u-margin-bottom-5 u-text-align-center">
                                Faça uma busca preenchendo os campos acima (=
                            </li>
                        </ul>
                        <!-- FIM RESULTADOS DA BUSCA POR ONGS  -->
                    </div>
                    <!-- FIM PESQUISAR ONGS -->

                </div>
        </div>
    </div>






<div>
