* {
    @include box-sizing(border-box);
}

html,
body {
    height: 100%;
}

.expresso-content__wrapper {
    height: 100%;
    margin-top: $EXPRESSO_HEADER_HEIGHT;
}

.expresso-footer__wrapper {
    height: 200px;
}

.expresso-content {
    height: 100%;
}

.expresso-container {
    width: 100%;
    max-width: $MAX_WIDTH_CONTENT;
    margin: 0 auto;
    padding-left: $SPACING_2;
    padding-right: $SPACING_2;

    &.is-vertical-spacing {
        padding-top: $SPACING_2;
        padding-bottom: $SPACING_2;
    }
}
