html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.u-box-shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.u-box-shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.u-box-shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.u-box-shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.u-box-shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.u-no-padding {
  padding: 0;
}

.u-padding-1 {
  padding: 8px;
}

.u-padding-2 {
  padding: 16px;
}

.u-padding-3 {
  padding: 24px;
}

.u-padding-4 {
  padding: 32px;
}

.u-padding-5 {
  padding: 40px;
}

.u-padding-6 {
  padding: 48px;
}

.u-no-padding-top {
  padding-top: 0;
}

.u-padding-top-1 {
  padding-top: 8px;
}

.u-padding-top-2 {
  padding-top: 16px;
}

.u-padding-top-3 {
  padding-top: 24px;
}

.u-padding-top-4 {
  padding-top: 32px;
}

.u-padding-top-5 {
  padding-top: 40px;
}

.u-padding-top-6 {
  padding-top: 48px;
}

.u-no-padding-bottom {
  padding-bottom: 0;
}

.u-padding-bottom-1 {
  padding-bottom: 8px;
}

.u-padding-bottom-2 {
  padding-bottom: 16px;
}

.u-padding-bottom-3 {
  padding-bottom: 24px;
}

.u-padding-bottom-4 {
  padding-bottom: 32px;
}

.u-padding-bottom-5 {
  padding-bottom: 40px;
}

.u-padding-bottom-6 {
  padding-bottom: 48px;
}

.u-no-padding-left {
  padding-left: 0 !important;
}

.u-padding-left-1 {
  padding-left: 8px;
}

.u-padding-left-2 {
  padding-left: 16px;
}

.u-padding-left-3 {
  padding-left: 24px;
}

.u-padding-left-4 {
  padding-left: 32px;
}

.u-padding-left-5 {
  padding-left: 40px;
}

.u-padding-left-6 {
  padding-left: 48px;
}

.u-no-padding-right {
  padding-right: 0;
}

.u-padding-right-1 {
  padding-right: 8px;
}

.u-padding-right-2 {
  padding-right: 16px;
}

.u-padding-right-3 {
  padding-right: 24px;
}

.u-padding-right-4 {
  padding-right: 32px;
}

.u-padding-right-5 {
  padding-right: 40px;
}

.u-padding-right-6 {
  padding-right: 48px;
}

.u-no-margin {
  margin: 0;
}

.u-margin-1 {
  margin: 8px;
}

.u-margin-2 {
  margin: 16px;
}

.u-margin-3 {
  margin: 24px;
}

.u-margin-4 {
  margin: 32px;
}

.u-margin-5 {
  margin: 40px;
}

.u-margin-6 {
  margin: 48px;
}

.u-no-margin-top {
  margin-top: 0;
}

.u-margin-top-1 {
  margin-top: 8px;
}

.u-margin-top-2 {
  margin-top: 16px;
}

.u-margin-top-3 {
  margin-top: 24px;
}

.u-margin-top-4 {
  margin-top: 32px;
}

.u-margin-top-5 {
  margin-top: 40px;
}

.u-margin-top-6 {
  margin-top: 48px;
}

.u-no-margin-bottom {
  margin-bottom: 0;
}

.u-margin-bottom-1 {
  margin-bottom: 8px;
}

.u-margin-bottom-2 {
  margin-bottom: 16px;
}

.u-margin-bottom-3 {
  margin-bottom: 24px;
}

.u-margin-bottom-4 {
  margin-bottom: 32px;
}

.u-margin-bottom-5 {
  margin-bottom: 40px;
}

.u-margin-bottom-6 {
  margin-bottom: 48px;
}

.u-no-margin-left {
  margin-left: 0;
}

.u-margin-left-1 {
  margin-left: 8px;
}

.u-margin-left-2 {
  margin-left: 16px;
}

.u-margin-left-3 {
  margin-left: 24px;
}

.u-margin-left-4 {
  margin-left: 32px;
}

.u-margin-left-5 {
  margin-left: 40px;
}

.u-margin-left-6 {
  margin-left: 48px;
}

.u-no-margin-right {
  margin-right: 0;
}

.u-margin-right-1 {
  margin-right: 8px;
}

.u-margin-right-2 {
  margin-right: 16px;
}

.u-margin-right-3 {
  margin-right: 24px;
}

.u-margin-right-4 {
  margin-right: 32px;
}

.u-margin-right-5 {
  margin-right: 40px;
}

.u-margin-right-6 {
  margin-right: 48px;
}

.u-float-right {
  float: right;
}

.u-float-left {
  float: left;
}

.u-text-align-center {
  text-align: center;
}

.u-min-height-150 {
  min-height: 150px !important;
}

.u-overflow-hidden {
  overflow: hidden;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.expresso-content__wrapper {
  height: 100%;
  margin-top: 50px;
}

.expresso-footer__wrapper {
  height: 200px;
}

.expresso-content {
  height: 100%;
}

.expresso-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.expresso-container.is-vertical-spacing {
  padding-top: 16px;
  padding-bottom: 16px;
}

.expresso-container-smaller {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #ffc107;
  text-decoration: none;
}

b {
  font-weight: bold;
}

* {
  outline: none;
}

@font-face {
  font-family: 'Roboto';
  src: url("/app/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
.expresso-header__wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background-color: #1976d2;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.expresso-header {
  color: #fff;
}

.expresso-header__logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
}
.expresso-header__logo a {
  color: #fff;
}
@media (max-width: 420px) {
  .expresso-header__logo {
    font-size: 16px;
  }
}

.expresso-menu__menu {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  line-height: 50px;
}
.expresso-menu__menu a {
  color: #fff;
  display: block;
}
.expresso-menu__menu a:hover {
  color: #ffc107;
}

.expresso-menu__item {
  height: 100%;
  margin-left: 16px;
  display: inline-block;
}
@media (max-width: 420px) {
  .expresso-menu__item {
    margin-left: 8px;
    font-size: 11px;
  }
}

.expresso-menu__icon {
  color: #fff;
}

.page-home {
  height: 100%;
}
.page-home .page-home__form,
.page-home .page-home__cover,
.page-home .page-home__search {
  min-height: 600px;
}
.page-home .page-home__form,
.page-home .page-home__search {
  border-top: 2px solid #e6e6e6;
}
.page-home .page-home__cover {
  background-color: #2196f3;
  overflow: hidden;
}
.page-home .page-home__search {
  background-color: #fff;
}
.page-home .page-home__form {
  background-color: #eee;
}
.page-home .page-home__form-inner {
  max-width: 700px;
  margin: 0 auto;
}
.page-home .page-home__video-side,
.page-home .page-home__description-side {
  padding-top: 48px;
}
@media (min-width: 768px) {
  .page-home .page-home__video-side {
    padding-right: 24px;
  }
}
@media (min-width: 768px) {
  .page-home .page-home__description-side {
    padding-left: 24px;
  }
}
.page-home .page-home__description-wrapper {
  margin-bottom: 48px;
}
.page-home .page-home__description-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #ffc107;
}
.page-home .page-home__description-paragraph {
  margin-bottom: 8px;
  color: #ffffff;
  text-align: justify;
  line-height: 1.5;
}
.page-home .page-home__form-wrapper {
  padding: 16px;
  max-width: 700px;
  border: 1px solid #ddd;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.page-home .page-home__form-title {
  margin-top: 24px;
  margin-bottom: 8px;
  color: #555;
  font-size: 24px;
}
.page-home .label-control {
  display: block;
}
.page-home .input-form {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.page-home .label-control {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.login-card {
  max-width: 400px;
  margin: 24px auto;
  padding: 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  text-align: center;
}

.login-card__header {
  font-size: 18px;
}

.login-card__section {
  padding-top: 24px;
}

.login-card__hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: #808080;
}

.page-login,
.page-signup,
.page-new-password,
.page-recovery-password {
  height: 100%;
  background-color: #2196f3;
}

.ong-profile__contact-wrapper {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ong-profile__logo {
  text-align: center;
}
.ong-profile__logo .md-48 {
  color: #888;
  font-size: 48px;
}

.ong-profile__contact .md-icon {
  color: #888;
}

.ong-profile__contact-name {
  color: #555;
  font-size: 24px;
  margin-bottom: 8px;
}

.ong-profile__contact-info {
  font-size: 14px;
  line-height: 1.2;
  display: table;
  table-layout: fixed;
}

.ong-profile__contact-info-icon,
.ong-profile__contact-info-text {
  display: table-cell;
  vertical-align: middle;
}

.ong-profile__contact-info-icon {
  color: #888;
  width: 25px;
}
.ong-profile__contact-info-icon .material-icons {
  font-size: 18px;
}

.ong-profile__contact-info-text {
  color: #555;
}

.ong-profile__main {
  margin-top: 32px;
}

.ong-profile__main-tabs {
  border-bottom: 1px solid #ddd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ong-profile__main-body {
  border: 1px solid #ddd;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ong-profile__main-tab {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  color: #bbb;
  background-color: #efefef;
  cursor: pointer;
}
.ong-profile__main-tab:hover {
  color: #888;
}
.ong-profile__main-tab.is-active {
  margin-bottom: -1px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 3px solid #ffc107;
  border-bottom: 1px solid #fff;
  color: #555;
  background-color: #fff;
}

.ong-profile__main-search {
  border-bottom: 1px solid #ddd;
}

.ong-profile__main-search-control {
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 16px;
  max-width: 40%;
  min-width: 250px;
}
.ong-profile__main-search-control md-input-container {
  margin-top: 0;
  margin-bottom: 0;
}

.ong-profile__main-toolbar {
  padding: 4px;
  border-bottom: 1px solid #ddd;
}
.ong-profile__main-toolbar:before, .ong-profile__main-toolbar:after {
  content: "";
  display: table;
}
.ong-profile__main-toolbar:after {
  clear: both;
}

.ong-profile__task {
  border-bottom: 1px solid #ddd;
  color: #555;
  cursor: pointer;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.2;
}
.ong-profile__task:last-of-type {
  border-bottom: none;
}
.ong-profile__task:hover {
  background-color: #eee;
}

.ong-profile__task-title,
.ong-profile__task-status {
  display: table-cell;
  vertical-align: middle;
}

.ong-profile__task-status {
  width: 100px;
  text-align: right;
}

.ong-profile__about {
  padding: 16px;
}
.ong-profile__about pre {
  white-space: pre-line;
  line-height: 1.5;
}

.ong-profile__about-edit {
  padding: 16px;
}

.ong-profile__about-title {
  padding: 16px 0;
  font-size: 24px;
}

.ong-profile__about-empty-case {
  text-align: center;
}

.badge-status {
  border-radius: 16px;
  display: inline-block;
  height: 24px;
  line-height: 20px;
  padding: 0 8px;
  border: 2px solid #ccc;
  font-size: 12px;
}

.ong-profile__task-detail-title {
  padding: 16px;
  font-size: 24px;
}

.ong-profile__task-detail-header {
  padding: 0 16px 16px 16px;
}

.ong-profile__task-detail-meta {
  table-layout: fixed;
  width: 100%;
  line-height: 1.5;
}
.ong-profile__task-detail-meta th {
  padding-left: 4px;
  width: 90px;
}
.ong-profile__task-detail-meta th,
.ong-profile__task-detail-meta td {
  padding-bottom: 2px;
  font-size: 12px;
  background-color: #eee;
}

.ong-profile__task-detail-section {
  padding: 16px;
}
.ong-profile__task-detail-section pre {
  white-space: pre-line;
  line-height: 1.5;
}

.ong-profile__task-detail-section-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.ong-profile__task-detail-edit {
  padding: 16px;
}

md-input-container .md-errors-spacer {
  min-height: 0;
}
