html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.expresso-content__wrapper {
  margin-top: 50px;
}

.expresso-footer__wrapper {
  height: 200px;
}

.expresso-content {
  height: 100%;
}

.expresso-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.expresso-container.is-vertical-spacing {
  padding-top: 16px;
  padding-bottom: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #ff4081;
  text-decoration: none;
}

@font-face {
  font-family: 'Roboto';
  src: url("/app/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
.expresso-header__wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background-color: #3f51b5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.expresso-header {
  color: #fff;
}

.expresso-header__logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
}
.expresso-header__logo a {
  color: #fff;
}

.expresso-header__menu {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  line-height: 50px;
}
.expresso-header__menu a {
  color: #fff;
  display: block;
}
.expresso-header__menu a:hover {
  color: #ff4081;
}

.expresso-header__menu-item {
  height: 100%;
  margin-left: 16px;
  display: inline-block;
}

.page-home {
  height: 100%;
}
.page-home .page-home__tasks,
.page-home .page-home__cover {
  min-height: 600px;
}
.page-home .page-home__cover {
  background-color: #B6B6B6;
  color: white;
}
.page-home .page-home__tasks {
  background-color: #c5cae9;
  color: white;
}
