.expresso-menu__menu {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    line-height: $EXPRESSO_HEADER_HEIGHT;

    a {
        color: #fff;
        display: block;

        &:hover { color: $COLOR_LINK; }
    }

}

.expresso-menu__item {
    height: 100%;
    margin-left: $SPACING_2;
    display: inline-block;

    @media (max-width: 420px) {
        margin-left: $SPACING_1;
        font-size: 11px;
    }
}

.expresso-menu__icon {
    color: #fff;
}
