// ## BOX-SHADOW ACCORDING MATERIAL DESIGN LEVEL
.u-box-shadow-1 { @include m-box-shadow(1); }
.u-box-shadow-2 { @include m-box-shadow(2); }
.u-box-shadow-3 { @include m-box-shadow(3); }
.u-box-shadow-4 { @include m-box-shadow(4); }
.u-box-shadow-5 { @include m-box-shadow(5); }


// ## PADDINGS
.u-no-padding { padding: 0; }
.u-padding-1 { padding: $SPACING_1; }
.u-padding-2 { padding: $SPACING_2; }
.u-padding-3 { padding: $SPACING_3; }
.u-padding-4 { padding: $SPACING_4; }
.u-padding-5 { padding: $SPACING_5; }
.u-padding-6 { padding: $SPACING_6; }

.u-no-padding-top { padding: 0; }
.u-padding-top-1 { padding-top: $SPACING_1; }
.u-padding-top-2 { padding-top: $SPACING_2; }
.u-padding-top-3 { padding-top: $SPACING_3; }
.u-padding-top-4 { padding-top: $SPACING_4; }
.u-padding-top-5 { padding-top: $SPACING_5; }
.u-padding-top-6 { padding-top: $SPACING_6; }

.u-no-padding-bottom { padding: 0; }
.u-padding-bottom-1 { padding-bottom: $SPACING_1; }
.u-padding-bottom-2 { padding-bottom: $SPACING_2; }
.u-padding-bottom-3 { padding-bottom: $SPACING_3; }
.u-padding-bottom-4 { padding-bottom: $SPACING_4; }
.u-padding-bottom-5 { padding-bottom: $SPACING_5; }
.u-padding-bottom-6 { padding-bottom: $SPACING_6; }

.u-no-padding-left { padding: 0; }
.u-padding-left-1 { padding-left: $SPACING_1; }
.u-padding-left-2 { padding-left: $SPACING_2; }
.u-padding-left-3 { padding-left: $SPACING_3; }
.u-padding-left-4 { padding-left: $SPACING_4; }
.u-padding-left-5 { padding-left: $SPACING_5; }
.u-padding-left-6 { padding-left: $SPACING_6; }

.u-no-padding-right { padding: 0; }
.u-padding-right-1 { padding-right: $SPACING_1; }
.u-padding-right-2 { padding-right: $SPACING_2; }
.u-padding-right-3 { padding-right: $SPACING_3; }
.u-padding-right-4 { padding-right: $SPACING_4; }
.u-padding-right-5 { padding-right: $SPACING_5; }
.u-padding-right-6 { padding-right: $SPACING_6; }


// ## MARGINS
.u-no-margin { margin: 0; }
.u-margin-1 { margin: $SPACING_1; }
.u-margin-2 { margin: $SPACING_2; }
.u-margin-3 { margin: $SPACING_3; }
.u-margin-4 { margin: $SPACING_4; }
.u-margin-5 { margin: $SPACING_5; }
.u-margin-6 { margin: $SPACING_6; }

.u-no-margin-top { margin-top: 0; }
.u-margin-top-1 { margin-top: $SPACING_1; }
.u-margin-top-2 { margin-top: $SPACING_2; }
.u-margin-top-3 { margin-top: $SPACING_3; }
.u-margin-top-4 { margin-top: $SPACING_4; }
.u-margin-top-5 { margin-top: $SPACING_5; }
.u-margin-top-6 { margin-top: $SPACING_6; }

.u-no-margin-bottom { margin-bottom: 0; }
.u-margin-bottom-1 { margin-bottom: $SPACING_1; }
.u-margin-bottom-2 { margin-bottom: $SPACING_2; }
.u-margin-bottom-3 { margin-bottom: $SPACING_3; }
.u-margin-bottom-4 { margin-bottom: $SPACING_4; }
.u-margin-bottom-5 { margin-bottom: $SPACING_5; }
.u-margin-bottom-6 { margin-bottom: $SPACING_6; }

.u-no-margin-left { margin-left: 0; }
.u-margin-left-1 { margin-left: $SPACING_1; }
.u-margin-left-2 { margin-left: $SPACING_2; }
.u-margin-left-3 { margin-left: $SPACING_3; }
.u-margin-left-4 { margin-left: $SPACING_4; }
.u-margin-left-5 { margin-left: $SPACING_5; }
.u-margin-left-6 { margin-left: $SPACING_6; }

.u-no-margin-right { margin-right: 0; }
.u-margin-right-1 { margin-right: $SPACING_1; }
.u-margin-right-2 { margin-right: $SPACING_2; }
.u-margin-right-3 { margin-right: $SPACING_3; }
.u-margin-right-4 { margin-right: $SPACING_4; }
.u-margin-right-5 { margin-right: $SPACING_5; }
.u-margin-right-6 { margin-right: $SPACING_6; }
