// COLOR PALETTE - MATERIAL DESIGN - INDIGO AND PINK
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

// COLORS VARIABLES BY CONTEXT
$link-color: $accent-color;
