// COLOR PALETTE - MATERIAL DESIGN (INDIGO AND PINK)
$PRIMARY-COLOR-DARK:   #1976d2;
$PRIMARY-COLOR:        #2196f3;
$PRIMARY-COLOR-LIGHT:  #bbdefb;
$PRIMARY-COLOR-TEXT:   #ffffff;
$ACCENT-COLOR:         #ff4081;
$PRIMARY-TEXT-COLOR:   #212121;
$SECONDARY-TEXT-COLOR: #727272;
$DIVIDER-COLOR:        #b6b6b6;


// COLORS VARIABLES BY CONTEXT
$COLOR_LINK: $ACCENT_COLOR;
$COLOR_EXPRESSO_HEADER: $PRIMARY_COLOR;


// DIMENSIONS VARIABLES
$MAX_WIDTH_CONTENT: 1200px;
$EXPRESSO_HEADER_HEIGHT: 50px;

// SPACING VARIABLES
$SPACING_1: 8px;
$SPACING_2: 16px;
$SPACING_3: 24px;
$SPACING_4: 32px;
$SPACING_5: 40px;
$SPACING_6: 48px;
