// COLOR PALETTE - MATERIAL DESIGN (BLUE AND PINK)
// $PRIMARY_COLOR_DARK:   #1976d2;
// $PRIMARY_COLOR:        #2196f3;
// $PRIMARY_COLOR_LIGHT:  #bbdefb;
// $PRIMARY_COLOR_TEXT:   #ffffff;
// $ACCENT_COLOR:         #FF80ab; // A100: #FF80AB |  A200:#ff4081 (A100 is better than A200)
// $PRIMARY_TEXT_COLOR:   #212121;
// $SECONDARY_TEXT_COLOR: #727272;
// $DIVIDER_COLOR:        #b6b6b6;

// COLOR PALETTE - MATERIAL DESIGN (BLUE AND AMBER)
$PRIMARY_COLOR_DARK:   #1976d2;
$PRIMARY_COLOR:        #2196f3;
$PRIMARY_COLOR_LIGHT:  #bbdefb;
$PRIMARY_COLOR_TEXT:   #ffffff;
$ACCENT_COLOR:         #ffc107;
$PRIMARY_TEXT_COLOR:   #555; // #212121
$SECONDARY_TEXT_COLOR: #888; // #727272;
$DIVIDER_COLOR:        #ddd; // #b6b6b6;

// COLOR PALETTE - MATERIAL DESIGN (GREEN AND LIME)
// $PRIMARY_COLOR_DARK:   #388e3c;
// $PRIMARY_COLOR:        #4caf50;
// $PRIMARY_COLOR_LIGHT:  #c8e6c9;
// $PRIMARY_COLOR_TEXT:   #ffffff;
// $ACCENT_COLOR:         #cddc39;
// $PRIMARY_TEXT_COLOR:   #212121;
// $SECONDARY_TEXT_COLOR: #727272;
// $DIVIDER_COLOR:        #b6b6b6;

// COLOR PALETTE - MATERIAL DESIGN (GREEN AND LIGHT GREEN)
// $PRIMARY_COLOR_DARK:   #388e3c;
// $PRIMARY_COLOR:        #4caf50;
// $PRIMARY_COLOR_LIGHT:  #c8e6c9;
// $PRIMARY_COLOR_TEXT:   #ffffff;
// $ACCENT_COLOR:         #B2FF59; //#8bc34a;
// $PRIMARY_TEXT_COLOR:   #212121;
// $SECONDARY_TEXT_COLOR: #727272;
// $DIVIDER_COLOR:        #b6b6b6;

// COLOR PALETTE - MATERIAL DESIGN (DEEP PURPLE AND PURPLE)
// $PRIMARY_COLOR_DARK:   #512da8;
// $PRIMARY_COLOR:        #673ab7;
// $PRIMARY_COLOR_LIGHT:  #d1c4e9;
// $PRIMARY_COLOR_TEXT:   #ffffff;
// $ACCENT_COLOR:         #e040fb;
// $PRIMARY_TEXT_COLOR:   #212121;
// $SECONDARY_TEXT_COLOR: #727272;
// $DIVIDER_COLOR:        #b6b6b6;

// COLOR PALETTE _ MATERIAL DESIGN (BLUE GREY AND GREY)
// $PRIMARY_COLOR_DARK:   #455a64;
// $PRIMARY_COLOR:        #607d8b;
// $PRIMARY_COLOR_LIGHT:  #cfd8dc;
// $PRIMARY_COLOR_TEXT:   #ffffff;
// $ACCENT_COLOR:         #9e9e9e;
// $PRIMARY_TEXT_COLOR:   #212121;
// $SECONDARY_TEXT_COLOR: #727272;
// $DIVIDER_COLOR:        #b6b6b6;

// COLOR PALETTE - MATERIAL DESIGN (INDIGO & PINK)
// $PRIMARY_COLOR_DARK:   #303f9f; // 700
// $PRIMARY_COLOR:        #3f51b5; // 500
// $PRIMARY_COLOR_LIGHT:  #c5cae9; // 100
// $PRIMARY_COLOR_TEXT:   #ffffff; // FALLBACK
// $ACCENT_COLOR:         #FF80AB; // A200: #ff4081 | A100: #FF80AB (A100 is better than A200)
// $PRIMARY_TEXT_COLOR:   #212121; // -> rgba(0, 0, 0, .87)
// $SECONDARY_TEXT_COLOR: #727272; // -> rgba(0, 0, 0, .54)
// $DIVIDER_COLOR:        #b6b6b6; // -> rgba(0, 0, 0, .54) +-


// COLORS VARIABLES BY CONTEXT
$COLOR_LINK: $ACCENT_COLOR;
$COLOR_EXPRESSO_HEADER: $PRIMARY_COLOR_DARK;


// DIMENSIONS VARIABLES
$MAX_WIDTH_CONTENT: 1200px;
$MAX_WIDTH_CONTENT_SMALLER: 800px;
$EXPRESSO_HEADER_HEIGHT: 50px;


// SPACING VARIABLES
$SPACING_1: 8px;
$SPACING_2: 16px;
$SPACING_3: 24px;
$SPACING_4: 32px;
$SPACING_5: 40px;
$SPACING_6: 48px;
