<div class="u-overflow-hidden">
    <div class="ong-profile__main-toolbar">
        <md-button
            ui-sref="home.tasksList"
            class="md-primary u-float-left">
            <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/production/ic_chevron_left_24px.svg"></md-icon>
            Voltar
        </md-button>
        <md-button
            ng-click="controller.saveNewTask()"
            class="md-primary u-float-right">
            <md-icon md-svg-icon="bower_components/material-design-icons/editor/svg/production/ic_mode_edit_24px.svg"></md-icon>
            Salvar
        </md-button>
    </div>

    <div class="ong-profile__task-detail-edit animated fadeInUpBig">
        <div class="ong-profile__task-detail-title u-no-padding-left">
            Adicionar tarefa
        </div>

        <md-input-container class="md-block u-no-margin-top">
            <label>Título da tarefa</label>
            <input type="text" name="taskTitle" ng-model="controller.newTask.title">
        </md-input-container>

        <md-input-container class="md-block">
            <md-checkbox
                ng-model="controller.newTask.is_remote"
                class="u-margin-top-1">
                    Esta tarefa pode ser feita remota? {{ controller.newTask.is_remote ? '(Sim)' : '(Não)' }}
            </md-checkbox>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Tags</label>
            <md-chips
                ng-model="controller.newTask.tags"
                readonly="false"
                placeholder="Digite e tecle 'Enter'"
                delete-button-label="Remover palavra chave"
                delete-hint="Pressione deletar para remover a palavra chave"
                secondary-placeholder="+Adicionar">
            </md-chips>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Descrição</label>
            <textarea
                ng-model="controller.newTask.description"
                class="u-min-height-150"
                rows="60"
                md-select-on-focus>
            </textarea>
        </md-input-container>
    </div>
</div>
