<div class="u-overflow-hidden">
    <div class="ong-profile__main-toolbar">
        <md-button
            ui-sref="home.tasksList"
            class="md-primary u-float-left">
            <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/production/ic_chevron_left_24px.svg"></md-icon>
            Voltar
        </md-button>
        <md-button
            ng-show="!controller.isTaskEditing"
            ng-click="controller.editTask()"
            class="md-primary u-float-right">
            <md-icon md-svg-icon="bower_components/material-design-icons/editor/svg/production/ic_mode_edit_24px.svg"></md-icon>
            Editar
        </md-button>
        <md-button
        ng-show="!controller.isTaskEditing"
        ng-click="controller.deleteTask($event, controller.task)"
        class="md-warn u-float-right">
            <md-icon md-svg-icon="bower_components/material-design-icons/action/svg/production/ic_delete_24px.svg"></md-icon>
            Excluir
        </md-button>
        <md-button
            ng-show="controller.isTaskEditing"
            ng-click="controller.updateTask(controller.task)"
            class="md-primary u-float-right">
            <md-icon md-svg-icon="bower_components/material-design-icons/editor/svg/production/ic_mode_edit_24px.svg"></md-icon>
            Salvar
        </md-button>
    </div>

    <!-- EDIÇÃO -->
    <div ng-show="controller.isTaskEditing" class="ong-profile__task-detail-edit">
        <md-input-container class="md-block u-no-margin-top">
            <label>Título da tarefa*</label>
            <input type="text" name="taskTitle" ng-model="controller.task.title" required>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Status</label>
            <md-select ng-model="controller.task.status">
                <md-option
                    ng-repeat="option in controller.taskStatusOptions"
                    value="{{ option.label }}">
                    {{ option.label }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block">
            <md-checkbox
                ng-model="controller.task.is_remote"
                class="u-margin-top-1">
                    Esta tarefa pode ser feita remota? {{ controller.task.is_remote ? '(Sim)' : '(Não)' }}
            </md-checkbox>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Tags</label>
            <md-chips
                ng-model="controller.task.tags"
                readonly="false"
                placeholder="Digite e tecle 'Enter'"
                delete-button-label="Remover palavra chave"
                delete-hint="Pressione deletar para remover a palavra chave"
                secondary-placeholder="+Adicionar">
            </md-chips>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Descrição*</label>
            <textarea
                ng-model="controller.task.description"
                class="u-min-height-150"
                rows="60"
                md-select-on-focus required="">
            </textarea>
        </md-input-container>
    </div>
    <!-- FIM EDIÇÃO  -->

    <!-- VISUALIZAÇÃO -->
    <div ng-show="!controller.isTaskEditing" class="ong-profile__task-detail animated fadeInUpBig">
        <div class="ong-profile__task-detail-title">
            {{ controller.task.title }}
        </div>

        <div class="ong-profile__task-detail-header">
            <table class="ong-profile__task-detail-meta">
                <tr>
                    <th>Criado em:</th>
                    <td>{{ controller.task.createdAt | date: "dd/MM/yyyy 'às' hh:mm" }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>{{ controller.task.status }}</td>
                    <!-- <td>{{ controller.task.updatedAt | date: "dd/MM/yyyy 'às' hh:mm"}}</td> -->
                </tr>
                <tr>
                    <th>Remoto:</th>
                    <td>{{ controller.task.is_remote? 'Sim' : 'Não' }}</td>
                </tr>
                <tr>
                    <th>Palavras chaves:</th>
                    <td> {{ controller.getTags() }}</td>
                </tr>
            </table>
        </div>

        <div class="ong-profile__task-detail-section">
            <h4 class="ong-profile__task-detail-section-title">Descrição da tarefa</h4>

            <pre>
                {{ controller.task.description }}
            </pre>
        </div>

    </div>
    <!-- FIM VISUALIZAÇÃO -->
</div>
